In [3]:
import pandas as pd

csv_scrap_file = pd.read_csv('data/raw/scrapping_data.csv')
csv_api_file = pd.read_csv('data/raw/api_data.csv')

In [4]:
csv_scrap_file.head()

,job_link,job_title,job_company,job_location,job_contract,job_level,job_salary,job_salary_mean,job_tags,job_perks_and_benefits
0,https://aijobs.net/job/1307721-stagiaire-ingen...,Stagiaire Ingénieur(e) R&D (H/F) Simulation nu...,GE Vernova,"Villeurbanne, France",Full Time;Internship,Entry-level / Junior,NaN,NaN,Python;R;R&D,NaN
1,https://aijobs.net/job/1307599-responsable-dev...,Responsable développement IA Générative junior,Everience Benelux,"Courbevoie, IDF, France",Full Time,Entry-level / Junior,EUR 27K - 63K *,45.0,APIs;Azure;LangChain;LLMs;OpenAI;Python;RAG,NaN
2,https://aijobs.net/job/1307534-data-engineer/,Data Engineer,Sorare,Paris,Full Time,NaN,EUR 69K - 129K *,99.0,Agile;Airflow;AWS;BigQuery;Business Intelligen...,Fitness / gym;Flex vacation;Gear;Health care;I...
3,https://aijobs.net/job/1307455-it-business-dat...,IT Business Data Scientist – Business Assurance,SGS,"Arcueil, IDF, France",Full Time,Mid-level / Intermediate,EUR 72K - 135K *,103.5,Data management;Data Mining;Machine Learning;P...,Career development;Flex hours;Health care
4,https://aijobs.net/job/1307362-ai-product-owner/,AI Product Owner,Diabolocom,Paris,Full Time,Mid-level / Intermediate,EUR 61K - 113K *,87.0,Agile;APIs;Data analysis;Engineering;Machine L...,Career development;Flex hours;Team events

In [5]:
csv_api_file.head()

,job_link,job_title,job_company,job_location,job_contract,job_hours,job_level,job_salary
0,https://candidat.francetravail.fr/offres/reche...,OPERATEUR PRODUCTION POLYVALENT H/F,NaN,62 - Blendecques,CDD - 3 Mois,35,Débutant accepté,21840.00
1,https://candidat.francetravail.fr/offres/reche...,PREPARATEUR DE COMMANDES DRIVE (H/F),NaN,28 - Chartres,Intérim - 1 Mois,35,Débutant accepté,21621.60
2,https://candidat.francetravail.fr/offres/reche...,TECHNICIEN LABORATOIRE (H/F),NaN,28 - Chartres,Intérim - 10 Mois,36,2 An(s),22464.00
3,https://candidat.francetravail.fr/offres/reche...,PREPARATEUR DE COMMANDES DRIVE (H/F),NaN,28 - Mainvilliers,Intérim - 1 Mois,35,Débutant accepté,21621.60
4,https://candidat.francetravail.fr/offres/reche...,REGLEUR MACHINISTE (H/F),NaN,28 - Illiers-Combray,Intérim - 10 Mois,37,2 An(s),22857.12